* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: $background-grey;
  color: $font-color;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

.navbar {
  background-color: $primary_purple;
  position: fixed;
  height: 5rem;
  top: 0;
  width: 100%;
  display: flex;
  .navbar_menu {
    margin: 0;
    align-items: center;
    flex-wrap: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;

    .flex_item {
      flex: 0 1 auto;
    }
  }
  .navbar-mmenu-toggle {
    background-color: $primary_purple;
    border: none;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 60px;
    width: 60px;
    margin: 0;
    cursor: pointer;
  }
  .searchInput_form {
  }
}
