* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  // background: #707070;
  // background: #707070;
  // color: $font-color;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}
.timer {
  h3 {
    text-align: center;
  }
  .timerMenu {
    button {
      padding: 0;
    }
  }
}
.loading-screen {
  .modal {
    position: fixed;
    z-index: 4;
    background-color: #ccc;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }
  .spinner {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.app-body {
  margin-top: 50px;
  max-height: calc(100vh - 50px);
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  // color: $font-color-dark;
}
.MenuRight {
  display: flex;
  align-items: center;
}
