.select_filter {
  position: fixed;
  top: 55px;
  left: 5%;
  position: fixed;
  background-color: #fafafa;
  z-index: 10;
  .select_list {
    background-color: #fafafa;
    color: $font-color-dark;
    max-width: 250px;
    max-height: 80vh;
    overflow-y: scroll;

    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      li {
        cursor: pointer;
        padding: 0 5px;
        &:hover {
          background-color: #e0e0e0;
        }
        &.child {
          padding-left: 20px;
        }
      }
    }
  }
}
