$bg: #403f4d;
$green: #62dca5;
$yellow: #f7f879;
$red: #e1675a;

$background-grey: #faf9fa;
$background-cards: #ffffff;
$primary-purple: #4b367c;
$primary-purple-light: #7d5bbe;
$primary-purple-dark: #1d0f4f;
$segundary-blue: #009bc2;
$segundary-blue-light: #5bccf4;
$segundary-blue-dark: #006d91;
$grey: #dad8de;
$input-color: #2e2d33;
$font-color-dark: #4e4d5c;
$font-color: #ffffff;

$big-font-size: 64px;
$heading-font-size: 24px;
$item-font-size: 20px;
