body {
  margin: 0;
  padding: 0;
  background: #413E4F;
  color: #FBFAFB;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }

.App {
  padding: 15px; }
  .App .form {
    position: relative; }
    .App .form input {
      margin: 0 0 10px 0;
      padding: 20px 70px 20px 20px;
      width: 100%;
      height: 70px;
      background: #2E2D33;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      color: #FBFAFB;
      font-size: 20px;
      outline: none; }
    .App .form button {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      border: none;
      /* TODO: Fix plus sign animation
            /*&:after {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: #FFF;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            width: 0;
            height: 0;
            }
            &:focus {
            outline: none;
            }
            &:focus:after {
            animation: click .5s;
            }*/ }
